body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 20px;
}
.out{
    font-size: 36px;
    margin-top: 20px;
    font-style: italic;
    text-transform: uppercase;
}
.out h1{
    color: blanchedalmond;
    background-color: black;
}
.out p{
    color: black;
    background-color:blanchedalmond ;
}
.in h1{
    color: azure;
    background-color: brown;
}
.in p{
    color: brown;
    background-color: azure;
}
.in{
    font-size: 9px;
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 30px;
    padding-left: 40px;
}
